.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 85%;
  height: 85vh;
  width: 70%;
  height: 70vh;
  padding: 1rem;

  display: grid;
  grid-template-columns: 45fr 55fr;
}

@media (max-width: 1024px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .container {
    height: auto;
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .App {
    height: auto;
  }
}
@media (max-width: 425px) {
  .container {
    height: auto;
    width: 100%;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 320px) {
  .container {
    width: 100%;
    padding: 0;
  }
}
