body {
  font-family: "Roboto", sans-serif;

  background-color: #343d4b;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media (max-width: 425px) {
  html {
    font-size: 58%;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#spinner-div {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343d4bad;
  display: none;
  justify-content: center;
  align-items: center;
}
